/* ============================================
 * 工作流设计器样式
 * 仅包含工作流节点布局、交互所需的自定义 CSS
 * 通用样式由 Tailwind CSS preflight 和 Element Plus 提供
 * ============================================ */

/* --- 错误图标 --- */
.error-icon {
	color: rgb(242, 86, 67);
}

/* --- 内联编辑标题 --- */
.ant-input {
	box-sizing: border-box;
	margin: 0;
	padding: 4px 11px;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	transition: all 0.3s;
}

.ant-input::placeholder {
	color: #bfbfbf;
}

.ant-input:focus,
.ant-input:hover {
	border-color: #40a9ff;
}

.ant-input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.auto-judge:hover .editable-title,
.node-wrap-box:hover .editable-title {
	border-bottom: 1px dashed #fff;
}

.auto-judge:hover .editable-title {
	border-color: #15bc83;
}

.editable-title {
	line-height: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px dashed transparent;
}

.editable-title:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 40px;
}

.editable-title:hover {
	border-bottom: 1px dashed #fff;
}

.editable-title-input {
	flex: none;
	height: 18px;
	padding-left: 4px;
	text-indent: 0;
	font-size: 12px;
	line-height: 18px;
	z-index: 1;
}

/* --- 节点卡片 --- */
.node-wrap-box {
	display: inline-flex;
	flex-direction: column;
	position: relative;
	width: 220px;
	min-height: 72px;
	flex-shrink: 0;
	background: #fff;
	border-radius: 4px;
	color: black;
	cursor: pointer;
}

.node-wrap-box:after {
	pointer-events: none;
	content: '';
	position: absolute;
	inset: 0;
	z-index: 2;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.node-wrap-box.active:after,
.node-wrap-box:active:after,
.node-wrap-box:hover:after {
	border-color: #3296fa;
	box-shadow: 0 0 6px 0 rgba(50, 150, 250, 0.3);
}

.node-wrap-box.active .close,
.node-wrap-box:active .close,
.node-wrap-box:hover .close {
	display: block;
}

.node-wrap-box.error:after {
	border-color: #f25643;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.node-wrap-box .title {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding-right: 30px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	text-align: left;
	background: #576a95;
	border-radius: 4px 4px 0 0;
}

.node-wrap-box .title .el-icon {
	font-size: 12px;
	margin-right: 5px;
}

.node-wrap-box .placeholder {
	color: #bfbfbf;
}

.node-wrap-box .close {
	display: none;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}

.node-wrap-box .content {
	position: relative;
	font-size: 14px;
	padding: 16px;
	padding-right: 30px;
}

.node-wrap-box .content .text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.node-wrap-box .content .arrow {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 14px;
	font-size: 14px;
	color: #979797;
}

.start-node.node-wrap-box .content .text {
	display: block;
	white-space: nowrap;
}

.node-wrap-box:before {
	content: '';
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 4px;
	border-style: solid;
	border-width: 8px 6px 4px;
	border-color: #cacaca transparent transparent;
	background: #f5f5f7;
}

.node-wrap-box.start-node:before {
	content: none;
}

/* --- 分支连接线遮盖 --- */
.top-left-cover-line {
	left: -1px;
}

.top-left-cover-line,
.top-right-cover-line {
	position: absolute;
	height: 8px;
	width: 50%;
	background-color: #f5f5f7;
	top: -4px;
}

.top-right-cover-line {
	right: -1px;
}

.bottom-left-cover-line {
	left: -1px;
}

.bottom-left-cover-line,
.bottom-right-cover-line {
	position: absolute;
	height: 8px;
	width: 50%;
	background-color: #f5f5f7;
	bottom: -4px;
}

.bottom-right-cover-line {
	right: -1px;
}

/* --- 流程设计器容器 --- */
.dingflow-design {
	width: 100%;
	overflow: auto;
	inset: 0;
}

.dingflow-design .box-scale {
	transform: scale(1);
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 54.5px 0;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	min-width: min-content;
	transform-origin: 50% 0px 0px;
}

.dingflow-design .node-wrap {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 0 50px;
	position: relative;
}

.dingflow-design .branch-wrap,
.dingflow-design .node-wrap {
	display: inline-flex;
	width: 100%;
}

.dingflow-design .branch-box-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	min-height: 270px;
	width: 100%;
	flex-shrink: 0;
}

.dingflow-design .branch-box {
	display: flex;
	overflow: visible;
	min-height: 180px;
	height: auto;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	position: relative;
	margin-top: 15px;
}

.dingflow-design .branch-box .col-box {
	background: #f5f5f7;
}

.dingflow-design .branch-box .col-box:before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 0;
	margin: auto;
	width: 2px;
	height: 100%;
	background-color: #cacaca;
}

.dingflow-design .add-branch {
	border: none;
	outline: none;
	user-select: none;
	justify-content: center;
	font-size: 12px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	color: #3296fa;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: -16px;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center center;
	cursor: pointer;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dingflow-design .add-branch:hover {
	transform: translateX(-50%) scale(1.1);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.dingflow-design .add-branch:active {
	transform: translateX(-50%);
	box-shadow: none;
}

.dingflow-design .col-box {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.dingflow-design .condition-node {
	min-height: 220px;
}

.dingflow-design .condition-node,
.dingflow-design .condition-node-box {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
}

.dingflow-design .condition-node-box {
	padding: 30px 50px 0;
	justify-content: center;
	align-items: center;
	position: relative;
}

.dingflow-design .condition-node-box:before {
	content: '';
	position: absolute;
	inset: 0;
	margin: auto;
	width: 2px;
	height: 100%;
	background-color: #cacaca;
}

/* --- 条件/分支判断卡片 --- */
.dingflow-design .auto-judge {
	position: relative;
	width: 220px;
	min-height: 72px;
	background: #fff;
	border-radius: 4px;
	padding: 14px 19px;
	cursor: pointer;
}

.dingflow-design .auto-judge:after {
	pointer-events: none;
	content: '';
	position: absolute;
	inset: 0;
	z-index: 2;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.dingflow-design .auto-judge.active:after,
.dingflow-design .auto-judge:active:after,
.dingflow-design .auto-judge:hover:after {
	border-color: #3296fa;
	box-shadow: 0 0 6px 0 rgba(50, 150, 250, 0.3);
}

.dingflow-design .auto-judge.active .close,
.dingflow-design .auto-judge:active .close,
.dingflow-design .auto-judge:hover .close {
	display: block;
}

.dingflow-design .auto-judge.error:after {
	border-color: #f25643;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.dingflow-design .auto-judge .title-wrapper {
	position: relative;
	font-size: 12px;
	color: #15bc83;
	text-align: left;
	line-height: 16px;
}

.dingflow-design .auto-judge .title-wrapper .editable-title {
	display: inline-block;
	max-width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dingflow-design .auto-judge .title-wrapper .priority-title {
	display: inline-block;
	float: right;
	margin-right: 10px;
	color: rgba(25, 31, 37, 0.56);
}

.dingflow-design .auto-judge .placeholder {
	color: #bfbfbf;
}

.dingflow-design .auto-judge .close {
	display: none;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	z-index: 2;
}

.dingflow-design .auto-judge .content {
	font-size: 14px;
	color: #191f25;
	text-align: left;
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.dingflow-design .auto-judge .sort-left,
.dingflow-design .auto-judge .sort-right {
	position: absolute;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 1;
}

.dingflow-design .auto-judge .sort-left {
	left: 0;
	border-right: 1px solid #f6f6f6;
}

.dingflow-design .auto-judge .sort-right {
	right: 0;
	border-left: 1px solid #f6f6f6;
}

.dingflow-design .auto-judge:hover .sort-left,
.dingflow-design .auto-judge:hover .sort-right {
	display: flex;
	align-items: center;
}

.dingflow-design .auto-judge .sort-left:hover,
.dingflow-design .auto-judge .sort-right:hover {
	background: #efefef;
}

/* --- 结束节点 --- */
.dingflow-design .end-node {
	border-radius: 50%;
	font-size: 14px;
	text-align: left;
}

.dingflow-design .end-node .end-node-circle {
	width: 10px;
	height: 10px;
	margin: auto;
	border-radius: 50%;
	background: #dbdcdc;
}

.dingflow-design .end-node .end-node-text {
	margin-top: 5px;
	text-align: center;
}
