@import url('https://at.alicdn.com/t/c/font_5024693_esasb18zrbp.css?t=1773909649753');

.app-wot-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'wd-icons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app-wot-icon::before {
	display: inline-block;
}

