# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: PIG 镜像 action

on:
  push:
    branches: [ master ]

jobs:
  task:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
        npm-client: [npm]

    steps:
      - uses: pnpm/action-setup@v2
        if: matrix.npm-client == 'pnpm'
        name: Install pnpm
        with:
          version: 7
          run_install: false

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: ${{ matrix.npm-client }} install

      - name: Build
        run: ${{ matrix.npm-client }} run build:docker

      - name: Login to Docker Registry
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }} registry.cn-hangzhou.aliyuncs.com

      - name: Build and push Docker images
        run: |
          docker-compose -f ./docker/docker-compose.yaml build
          registry="registry.cn-hangzhou.aliyuncs.com/pigx/"
          for service in $(docker-compose -f ./docker/docker-compose.yaml config --services); do
            docker tag ${service}:latest ${registry}${service}:latest
            docker push ${registry}${service}:latest
          done
